<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Web tailf</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/img/favicon.ico}">
    <style type="text/css">
    pre {
      margin: 0px;
    }
    </style>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script>
        $(function () {
            var pathKey = $('#pathKey').val();
            if ('WebSocket' in window) {
                var url = 'ws://' + window.location.host + '/websocket01';
                var sock = new WebSocket(url);      //打开WebSocket
                sock.onopen = function () {          //处理连接开启事件
                    let obj = {};
                    obj.cmd='bind';
                    obj.pathKey = pathKey;
                    sock.send(JSON.stringify(obj));
                };

                sock.onmessage = function (e) {      //处理信息
                    e = e || event; 		         //获取事件，这样写是为了兼容IE浏览器
                    $('#anchor').before("<pre class='p' style='display: block;'>" + e.data + "</pre>");
                    $('#anchor')[0].scrollIntoView();
                };

                sock.onclose = function () {         //处理连接关闭事件
                    console.log('onclose');
                };

            } else {
                alert("你的浏览器不支持WebSocket");
            }

            /**页面去除多余的行*/
            setInterval(function () {
                let all = $('.p').length;
                if (all > 800) {
                	let threshold = parseInt(Number(all) * 0.9);
                    $('.p:lt(' + threshold + ')').remove();
                }
            }, 1000);
        });
    </script>
</head>
<body style="font: 13px/21px Arial,sans-serif;overflow: scroll;">
<input th:value="${pathKey}" id="pathKey" type="hidden">
<span id='anchor'></span>
</body>
</html>