<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>服务器管理</title>
    <link rel="stylesheet" th:href="@{/js/extjs/resources/css/ext-all.css}" type="text/css">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/extjs/ext-all.js}"></script>
    <script>
        Ext.onReady(function() {
        Ext.state.Manager.setProvider(Ext.create('Ext.state.CookieProvider'));

        var viewport = Ext.create('Ext.Viewport', {
            id: 'border-example',
            layout: 'border',
            items: [
            // create instance immediately
            Ext.create('Ext.Component', {
                region: 'north',
                height: 32, // give north and south regions a height
                autoEl: {
                    tag: 'div',
                    html:'日志查看系统'
                }
            }), {
                region: 'west',
                collapsible: true,
                title: 'Starts at width 30%',
                split: true,
                width: '10%',
                minWidth: 100,
                stateId: 'westRegion',
                stateful: true,
                html: '<div>west<br>I am floatable and stateful!</div>'
            },
            // in this instance the TabPanel is not wrapped by another panel since no title is needed, this Panel is added directly as a Container
            Ext.create('Ext.tab.Panel', {
                region: 'center', // a center region is ALWAYS required for border layout
                deferredRender: false,
                activeTab: 0,     // first tab initially active
                items: [{
                    contentEl: 'center1',
                    title: 'Close Me',
                    closable: true,
                    autoScroll: true
                }]
            })]
        });
    });
    </script>
</head>
<body>
<!-- use class="x-hide-display" to prevent a brief flicker of the content -->
<div id="west" class="x-hide-display">
    <p>Hi. I'm the west panel.</p>
</div>

<div id="center1" class="x-hide-display">
    <p><b>Done reading me? Close me by clicking the X in the top right corner.</b></p>
</div>

</body>
</html>